---
import Layout from "../../layouts/Layout.astro";
import Posts from "../../components/blog/Posts";
let desc =
  "Discover my recent blog posts that delve into various topics, including innovative technologies and practical implementations of software/code. Explore and stay informed!";
---

<Layout title="Blog | sliger.dev" description={desc} type="page">
  <div class="h-32"></div>
  <div class="flex overflow-hidden items-center lg:items-start flex-col px-2 lg:px-0 w-full lg:w-[800px] xl:w-[1200px] self-center">
    <h1
      class="grid place-items-center pb-12 text-4xl font-semibold font-serif opacity-70 text-white tracking-wider"
    >
      Blog Posts
    </h1>
    <div class="flex-grow"></div>
  
  <div class="w-full relative pb-24 min-h-[800px]">
    <Posts client:load />
  </div>
</div>
</Layout>
