---
import Layout from "../../layouts/Layout.astro"
import AuthWrapper from "../../components/auth/AuthWrapper"
import PostCreator from "../../components/blog/PostCreator"
---

<Layout title="New Post | sliger.dev">
    <div class="min-h-screen">
    <AuthWrapper client:only>
        <PostCreator client:only />
    </AuthWrapper>
    </div>
</Layout>
