---
import Layout from "../../../layouts/Layout.astro";

const { category } = Astro.params;

// const data = await fetch("http://localhost:1337/api/posts?populate=*").then(
//   (response) => response.json()
// );

// const page = data.data.find((page) => {
//   return page.attributes.slug === slug
// });

// if (!page) return Astro.redirect("/404");

// const post = page;
---

<Layout title={`${category} | sliger.dev`}>
  <div class="h-20"></div>
</Layout>
