---
import Layout from "../layouts/Layout.astro"
import AuthWrapper from "../components/auth/AuthWrapper"
import LogoutButton from "../components/buttons/LogoutButton"
import UserInformation from "../components/dashboard/UserInformation"
---

<Layout title="Experience | sliger.dev">
    <div class="h-20"/>
    <AuthWrapper client:only>
        <div class="mx-8 z-[500]">
            <LogoutButton client:load />
            <UserInformation client:load />
        </div>
    </AuthWrapper>
</Layout>
