---
import Layout from "../layouts/Layout.astro"
import AuthWrapper from "../components/auth/AuthWrapper"
import LogoutButton from "../components/buttons/LogoutButton"
import UserInformation from "../components/dashboard/UserInformation"
---

<Layout title="Dashboard | sliger.dev">
    <div class="w-[1200px] mx-auto min-h-screen pt-20">
        <AuthWrapper client:only>
            <UserInformation client:load />
            <LogoutButton client:load />
        </AuthWrapper>
    </div>
</Layout>
