---
import Layout from "../layouts/Layout.astro";
import IndexComponent from "../components/IndexComponent"
let desc = "Experienced software engineer passionate about elegant solutions to complex problems. Strong background in computer science. Knowledge in scalable web apps and machine learning algorithms. Exceeding client expectations is my commitment."
---


<Layout title="Home | sliger.dev" description={desc}>
  <div class="min-h-screen">
    <IndexComponent client:load />
  </div>
</Layout>
