---
import Layout from "../layouts/Layout.astro";
import Index from "../components/Index"
---

<Layout title="Home | sliger.dev">
  <div class="min-h-screen">
    <Index client:load />
  </div>
</Layout>
