---
import Layout from "../layouts/Layout.astro"
import LoginComponent from "../components/LoginComponent"
---

<Layout title="Login | sliger.dev">
    <div class="min-h-screen grid place-items-center">
        <LoginComponent client:load/>
    </div>
</Layout>
