---
import Layout from "../../layouts/Layout.astro"
import Posts from "../../components/blog/Posts"
import SearchBar from "../../components/SearchBar"
---

<Layout title="Blog | sliger.dev">
    <div class="h-32"/>
    <div class="flex lg:flex-row flex-col mx-16">
        <h1 class="grid place-items-center pb-12 text-3xl font-semibold text-white tracking-wider">Recent Posts</h1>
        <div class="flex-grow"/>
        <SearchBar client:load/>
    </div>
    <div class="w-full relative pb-24 ">
	    <Posts client:load/>
    </div>
</Layout>
