---
import Layout from "../../layouts/Layout.astro"
import Posts from "../../components/Posts"
---

<Layout title="Blog | sliger.dev">
    <div class="h-32"/>
    <div class="w-full relative pb-24">
	    <Posts client:load/>
    </div>
</Layout>
