---
import Layout from "../../layouts/Layout.astro"
import Posts from "../../components/blog/Posts"
---

<Layout title="Blog | sliger.dev">
    <div class="h-32"/>
    <div class="flex lg:flex-row items-center lg:items-start flex-col mx-16">
        <h1 class="grid place-items-center pb-12 text-3xl font-semibold text-white tracking-wider">Recent Posts</h1>
        <div class="flex-grow"/>
    </div>
    <div class="w-full relative pb-24 min-h-[800px]">
	    <Posts client:load/>
    </div>
</Layout>
